*.Rproj*
.Rhistory
.RData
.Ruserdata
*abble*
Rplots.pdf
Stella_Simulator_Linux.zip
UncertaintyAnalysis.Rproj
*RData
frida_info_errorCases.csv
*RDS
scraps.R
test*
workOutput
workerDirs
.Rproj.user
frida_info_with_new_min_coefs.csv
minCoefs.csv
parscale.csv
sampleParmsParscaleRanged.csv
.~lock*
frida_info old.csv
samples*ForBilly.csv
